<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">La mejor calidad</div>
                    <div class="section_title">
                        <h1>Registro de Peliculas</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact_form_row">
            <div class="col">
                <div class="contact_form_container">
                    <form novalidate  action="#" class="contact_form text-center">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" class="contact_input" placeholder="Your name" required="required">
                            </div>
     
                        </div>
                        <button class="contact_button">send message</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>