<div class="row contact_form_row">
        <div class="col">
            <div class="contact_form_container">
                <form action="#" class="contact_form text-center" id="contact_form">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" class="contact_input" placeholder="Your name" required="required">
                        </div>
                        <div class="col-lg-4">
                            <input type="email" class="contact_input" placeholder="Your e-mail" required="required">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="contact_input" placeholder="Subject" required="required">
                        </div>
                    </div>
                    <textarea class="contact_textarea contact_input" placeholder="Message" required="required"></textarea>
                    <button class="contact_button">send message</button>
                </form>
            </div>
        </div>
    </div>