<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">La mejor calidad</div>
                    <div class="section_title">
                        <h1>Registro de Peliculas</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact_form_row">
            <div class="col">
                <div class="contact_form_container">
                    <form novalidate [formGroup]="peliculaForm" class="contact_form text-center"
                        (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" formControlName="nombre" class="contact_input"
                                    placeholder="Nombre de la Pelicula" required="required">
                                    <span [hidden]="!(erroresForm.nombre)">
                                            {{erroresForm.nombre}}</span>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" formControlName="genero" class="contact_input"
                                    placeholder="Ingresa el Genero" required="required">
                                    <span [hidden]="!(erroresForm.genero)">
                                            {{erroresForm.genero}}</span>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" formControlName="img" class="contact_input"
                                    placeholder="Ingrese Ruta de Imagen" required="required">
                                    <span [hidden]="!(erroresForm.img)">
                                            {{erroresForm.img}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" formControlName="trailer" class="contact_input"
                                    placeholder="Ingrese la Ruta del Trailer" required="required">
                                    <span [hidden]="!(erroresForm.trailer)">
                                            {{erroresForm.trailer}}</span>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkbox-inline">
                                    <label><input type="checkbox" class="custom-checkbox" formControlName="activa" value="">  Activa</label>
                                </div>
                            </div>
                        </div>
                        <textarea class="contact_textarea contact_input" formControlName="sipnosis"
                            placeholder="Ingrese la Sipnosis de la Pelicula" maxlength="500" required="required">
                            
                        </textarea>
                        <span [hidden]="!(erroresForm.sipnosis)">{{erroresForm.sipnosis}}</span>
                        <button type="submit" [disabled]="peliculaForm.invalid"  class="contact_button">Guardar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>