<footer class="footer">
    <div class="footer_content">
        <div class="container">
            <div class="row">
                
                <!-- Footer Column -->
                <div class="col-xl-4 col-lg-6 footer_col">
                    <div class="footer_about">
                        <div class="footer_logo"><a href="#">Cine<span>Valencia</span></a></div>
                        <div class="footer_text">
                            <p>CineValencia es una cadena de salas de cine en Valencia. Es de la única cadena importante en Valencia luego de la quiebra de Cines Lys.</p>
                        </div>
                        <div class="social">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-xl-4 col-lg-6 footer_col">
                    <div class="footer_column">
                        <div class="footer_title">Información</div>
                        <div class="footer_info">
                            <ul>
                                <!-- Phone -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><img src="/assets/images/phone-call.svg" alt=""></div>
                                    <span>+34 605 62 53 21</span>
                                </li>
                                <!-- Address -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><img src="/assets/images/placeholder.svg" alt=""></div>
                                    <span>Avenidad de la Universidad, no 56, Valencia</span>
                                </li>
                                <!-- Email -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><img src="/assets/images/envelope.svg" alt=""></div>
                                    <span>contacto@cinevalencia.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-xl-4 col-lg-6 footer_col">
                    <div class="footer_links">
                        <div class="footer_title">Sitio</div>
                        <ul>
                            <li><a href="#">Peliculas</a></li>
                            <li><a href="#">Cines</a></li>
                            <li><a href="#">Carrito</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>