<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Comprar Entrada</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row contact_form_row">
        <div class="col">
            <div class="contact_form_container">
                <form novalidate [formGroup]="entradaForm" class="contact_form text-center" id="contact_form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4">
                            <h3>Comprar Entrada</h3>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <div>
                        <input formControlName="hora" class="contact_textarea contact_input" placeholder="Message" required="required">
                    </div>
                    <button type="submit" [disabled]="entradaForm.invalid"  class="contact_button">enviar critica</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')" >Guardar</button>
</div>