<div class="listing_container">
    <div class="container">
        <div class="row">
            <div class="col" *ngIf="peliculas">

                <!-- Image -->
                <div class=" d-flex flex-column align-items-center justify-content-center" ><img id="imgDetallePelicula"
                        src="{{peliculas.img}}" alt=""></div>

                        <!-- <div _ngcontent-vto-c4="" class="listing_image_container" ng-reflect-ng-style="[object Object]" style="background-image: url(&quot;{{peliculas.img}}&quot;);"></div> -->
                        

                <!-- About -->
                <div class="about">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="property_info">
                                <div class="row">
                                    <div class="col-lg-4">
                                    </div>
                                    <div class="col-lg-4 ">
                                        <div _ngcontent-chb-c4="" class="tag tag_house"><a _ngcontent-chb-c4=""
                                                href="#">Comprar Entrada</a></div>

                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="listing_name">
                                <h1>Sinopsis</h1>
                            </div>
                            <div class="about_text">
                                <p>{{peliculas.sipnosis}}</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="listing_video">
                                <div class="listing_title">
                                    <h3>Video</h3>
                                </div>
                                <p>{{peliculas.trailer}}</p>

                                <div
                                    class="video_container d-flex flex-column align-items-center justify-content-center">
                                    <iframe width="1000" height="563" src="{{peliculas.trailer}}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row contact_form_row">
                    <div class="col">
                        <div class="contact_form_container">
                            <form novalidate [formGroup]="criticaForm" class="contact_form text-center" id="contact_form" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-lg-4">
                                    </div>
                                    <div class="col-lg-4">
                                        <h3>Dejar Critica</h3>
                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                                <div>
                                    <textarea formControlName="criticaPelicula" class="contact_textarea contact_input" placeholder="Message" required="required"></textarea>
                                    <span [hidden]="!(erroresForm.criticaPelicula)">
                                        {{erroresForm.criticaPelicula}}</span>
                                </div>
                                <button type="submit" [disabled]="criticaForm.invalid"  class="contact_button">enviar critica</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- generamos los card donde se guardan las criticas -->
                <div class="card mt-5 mb-5" *ngFor="let critica of criticas">

                    <div class="card-header">
                        Critica
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ critica.criticaPelicula }}</p>
                            <p>{{ peliculas.idPelicula }}</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                    Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>