<div class="listing_container">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Image -->
                <div class="listing_image d-flex flex-column align-items-center justify-content-center"><img
                        src="https://i.imgur.com/SrYcdis.jpg" alt=""></div>

                <!-- About -->
                <div class="about">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="property_info">
                                <div class="row">
                                    <div class="col-lg-4">
                                    </div>
                                    <div class="col-lg-4 ">
                                        <div _ngcontent-chb-c4="" class="tag tag_house"><a _ngcontent-chb-c4=""
                                                href="#">Comprar Entrada</a></div>

                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="listing_name">
                                <h1>Sinopsis</h1>
                            </div>
                            <div class="about_text">
                                <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate
                                    bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut
                                    tempor leo cursus in. Nullam fermentum egestas quam nec malesuada. Donec non ligula
                                    non risus luctus mattis non non diam. Integer placerat velit at vestibulum
                                    vulputate. Donec lacinia vitae libero sed ultricies. Donec egestas dictum dolor ac
                                    sagittis. Nunc facilisis iaculis est, ut aliquet lorem. Nam imperdiet convallis
                                    imperdiet. Nam libero arcu, porttitor sed sapien nec, commodo accumsan nulla.
                                    Praesent pretium neque nec dictum venenatis. Mauris nec metus vitae massa maximus
                                    malesuada. Quisque cursus leo nec nulla dignissim, ut pulvinar diam porttitor.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="listing_video">
                                <div class="listing_title">
                                    <h3>Video</h3>
                                </div>
                                <div
                                    class="video_container d-flex flex-column align-items-center justify-content-center">
                                    <iframe width="1000" height="563" src="https://www.youtube.com/embed/TcMBFSGVi1c"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row contact_form_row">
                    <div class="col">
                        <div class="contact_form_container">
                            <form novalidate [formGroup]="criticaForm" class="contact_form text-center" id="contact_form" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-lg-4">
                                    </div>
                                    <div class="col-lg-4">
                                        <h3>Dejar Critica</h3>
                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                                <div>
                                    <textarea formControlName="criticaPelicula" class="contact_textarea contact_input" placeholder="Message" required="required"></textarea>
                                    <span [hidden]="!(erroresForm.criticaPelicula)">
                                        {{erroresForm.criticaPelicula}}</span>
                                </div>
                                <button type="submit" [disabled]="criticaForm.invalid"  class="contact_button">enviar critica</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- generamos los card donde se guardan las criticas -->
                <div class="card mt-5 mb-5" *ngFor="let critica of criticas">
                    <div class="card-header">
                        Critica
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ critica.criticaPelicula }}</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                    Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>