<div class="listing_container">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Image -->
                <div class="listing_image"><img src="https://i.imgur.com/SrYcdis.jpg" alt=""></div>

                <!-- About -->
                <div class="about">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="property_info">
                                <div id="precio_detalle_pelicula" class="tag_price listing_price">$ 562 346</div>
                                <div class="listing_name"><h1>Sinopsis</h1></div>
                                
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="about_text">
                                <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nullam fermentum egestas quam nec malesuada. Donec non ligula non risus luctus mattis non non diam. Integer placerat velit at vestibulum vulputate. Donec lacinia vitae libero sed ultricies. Donec egestas dictum dolor ac sagittis. Nunc facilisis iaculis est, ut aliquet lorem. Nam imperdiet convallis imperdiet. Nam libero arcu, porttitor sed sapien nec, commodo accumsan nulla. Praesent pretium neque nec dictum venenatis. Mauris nec metus vitae massa maximus malesuada. Quisque cursus leo nec nulla dignissim, ut pulvinar diam porttitor.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="listing_features">
                                <div class="listing_title"><h3>Features</h3></div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul>
                                            <li>2 car garages</li>
                                            <li>3 bedrooms</li>
                                            <li>heated floors</li>
                                            <li>contemporary architecture</li>
                                            <li>swimming pool</li>
                                            <li>exercise room</li>
                                            <li>formal entry</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li>patio</li>
                                            <li>close to stores</li>
                                            <li>ocean view</li>
                                            <li>spa</li>
                                            <li>sprinklers</li>
                                            <li>garden</li>
                                            <li>alley</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="listing_video">
                                <div class="listing_title"><h3>Video</h3></div>
                                <div class="video_container d-flex flex-column align-items-center justify-content-center">
                                    <img src="/assets/images/video.jpg" alt="">
                                    <div class="video_button"><a class="youtube cboxElement" href="https://www.youtube.com/watch?v=TcMBFSGVi1c?autoplay=1"><i class="fa fa-play" aria-hidden="true"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>
</div>